$acorn-dkblue: #273e4b;
$acorn-mdblue: #1883c6;
$acorn-ltblue: #0072bc;
$acorn-ltblue-pale: lighten($acorn-ltblue, 50%);
$acorn-gray: #555555;
$acorn-dkgreen: #7fb133;
$acorn-ltgreen: #91c53e;
$acorn-orange: #e5b022;
$acorn-yellow: #efd166;
$acorn-brown: #553210;

$white: #ffffff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000000;