---
import Layout from '../layouts/HomeLayout.astro';
const pageTitle = "Home";
---

<Layout pageTitle={pageTitle}>
  <div class="h-screen flex justify-center items-center">
    <div class="w-100 mx-auto p-4">
      <p><a href="/"><img src="images/aa_logo3.png" alt="Atomic Acorn Logo" class="mx-auto" style="width:20%;" /></a></p>

      <h1 class="mt-5 text-center text-white text-8xl font-bold">Atomic <span class="tagline">Acorn</a></h1>
      <p class="mt-5 text-center text-white text-4xl"><em>Power to grow your ideas</em></p>

      <nav id="PrimaryNav" role="navigation">
        <ul class="mt-5 text-center">
          <li class="text-white inline-block"><a href="/login" class="text-white underline">Login</a></li>
          <!--<li class="text-white inline-block"><a href="/register" class="text-white underline">Register</a></li>-->
          <li class="text-white inline-block"><a href="/about" class="text-white underline">About</a></li>
          <li class="text-white inline-block"><a href="/contact" class="text-white underline">Contact</a></li>
        </ul>
      </nav>

    </div>
  </div>
</Layout>