---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Home";
---

<Layout pageTitle={pageTitle}>

  <p><a href="/"><img src="/public/images/aa_logo.png" alt="Atomic Acorn Logo" /></a></p>

  <p><a href="/login" class="text-white-600 underline">Login</a> | <a href="/register" class="text-white-600 underline">Register</a></p>

  <p><a href="/about" class="text-white-600 underline">About</a> | <a href="/contact" class="text-white-600 underline">Contact</a></p>
</Layout>