---
export const partial = true;
---

<nav class="admin-nav">
	<ul>
		<li class="mb-3"><a href="/dashboard" class="font-bold hover:underline"><i class="bi bi-speedometer"></i> Member Dashboard</a></li>
		<li class="mb-3"><a href="/admin-dashboard" class="font-bold hover:underline"><i class="bi bi-incognito"></i> Admin Dashboard</a></li>
		<li class="mb-3"><a href="/admin/roles" class="font-bold hover:underline"><i class="bi bi-people-fill"></i> Manage Roles</a></li>
	</ul>
</nav>