---
// src/layouts/AdminLayout.astro
import "../styles/global.css";
import HeadSection from '../pages/partials/Head.astro';
import FooterSection from '../pages/partials/Footer.astro';
import AdminNav from '../pages/partials/AdminNav.astro';
import { supabaseAdmin } from '../lib/supabaseAdmin';

interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props as Props;
// Dynamic CSS Class - Target Individual Pages
const PageClass = pageTitle;
const BodyClass = `min-h-screen text-black ${PageClass}`;

// Auth
const accessToken = Astro.cookies.get('sb-access-token')?.value;
let user = null;
if (accessToken) {
  const { data, error } = await supabaseAdmin.auth.getUser(accessToken);
  if (error) console.error('Supabase getUser error:', error.message);
  user = data.user;
}
if (!user) throw Astro.redirect('/login');
---

<!DOCTYPE html>
<html lang="en">
  <HeadSection pageTitle={pageTitle} />
  <body class={BodyClass}>
  <div class="container mx-auto">
    <div class="ribbons"></div>
    <header class="grid grid-cols-12 mt-3 mx-5 gap-4" role="banner">
      <div class="col-span-12">
        <p>
          <a href="/">
            <img src="/images/aa_logo3.png" alt="Atomic Acorn Logo" style="width:60px;display:inline-block;" />
            <span class="inline-block align-middle text-white"><span class="text-4xl font-bold">Atomic <span class="tagline">Acorn</span></span>
            <span class="text-1xl"><em>Power to grow your ideas</em></span></span>
          </a>
        </p>
      </div>
      <div class="col-span-12 bg-gray-900 pr-3 py-2 rounded-tl rounded-tr">
        <ul class="text-right text-white">
          <li class="inline-block mr-3">Signed in as <strong>{user.email}</strong></li>
          <li class="inline-block mr-3"><a href="/account/change-password" class="text-white hover:underline"><i class="bi bi-person-fill-lock"></i> Change Password</a></li>
          <li class="inline-block"><a href="/api/logout" class="text-white hover:underline"><i class="bi bi-door-closed-fill"></i> Log Out</a></li>
        </ul>
      </div>
    </header>
  
    <main class="grid grid-cols-12 mb-3 mx-5" role="main">
        <aside class="col-span-3 bg-gray-300 text-black p-4 rounded-bl">
            <AdminNav title="Admin Navigation" />
        </aside>
        <section class="col-span-9 bg-white text-black p-4 rounded-br">
          <slot />
        </section>
    </main>
  </div>
  <FooterSection />
  </body>
</html>