---
// src/layouts/Layout.astro
import BaseLayout from "../layouts/BaseLayout.astro";

interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props as Props;

---
<BaseLayout pageTitle={pageTitle}>
    <section slot="header">
      <div class="mt-5 max-w-md mx-auto p-2">
        <p class="text-center">
          <a href="/">
            <img src="/images/aa_logo3.png" alt="Atomic Acorn Logo" style="width:60px;display:inline-block;" />
            <span class="inline-block align-middle text-white"><span class="text-4xl font-bold">Atomic <span class="tagline">Acorn</span></span></span>
          </a>
        </p>
        <p class="text-center"><span class="text-1xl text-white"><em>Power to grow your ideas</em></span></p>
      </div>
      <slot name="header" />
    </section>

    <slot />

    <section slot="footer">
      <slot name="footer" />
    </section>
  </BaseLayout>